Repository hidoo/stylelint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint, prettier --write

chore(deps): update dependency mocha to v10.3.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): remove unused package
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): chenge to pin dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix!: update rules and split rules by groups
  +compatibility.js
  +order.js
  +performance.js
  +scss.js
  .browserslistrc
  .eslintrc.json
  .lintstagedrc.json
  .prettierignore
  .stylelintignore
  .stylelintrc.json
  README.md
  package.json
  pnpm-lock.yaml
  src/accessibility.js
  src/base.js
  src/compatibility.js
  src/order.js
  src/performance.js
  src/scss.js
  test/base.test.js
  test/compatibility.test.js
  test/fixture/_invalid.scss
  test/fixture/_valid.scss
  test/fixture/base.invalid.css
  test/fixture/base.valid.css
  test/fixture/compatibility.invalid.css
  test/fixture/compatibility.valid.css
  test/fixture/invalid.css
  test/fixture/invalid.scss
  test/fixture/order.invalid.css
  test/fixture/order.valid.css
  test/fixture/performance.invalid.css
  test/fixture/performance.valid.css
  test/index.test.js
  test/lib/findRules.js
  test/lib/runLint.js
  test/order.test.js
  test/performance.test.js
Due: eslint, prettier --write

ci(github): add test workflow
  .github/workflows/test.yml
Due: none

docs(readme): add status badge
  README.md
Due: none

fix: disable stylistic rules in scss syntax to avoid conflict with prettier
  package.json
  pnpm-lock.yaml
  src/scss.js
  test/fixture/_invalid.scss
  test/fixture/_valid.scss
  test/scss.test.js
Due: eslint, prettier --write

fix: apply feed backs from active projects
  package.json
  pnpm-lock.yaml
  src/base.js
  src/order.js
  src/scss.js
  test/base.test.js
  test/fixture/_invalid.scss
  test/fixture/_valid.scss
  test/fixture/base.invalid.css
  test/fixture/base.valid.css
  test/order.test.js
  test/scss.test.js
Due: eslint, prettier --write

test: move .browserslistrc into test dir
  test/.browserslistrc
  test/compatibility.test.js
Due: eslint, prettier --write

chore(renovate): configure config
  renovate.json
Due: prettier --write

chore(release): publish 1.0.0-alpha.0
  CHANGELOG.md
  package.json
Due: prettier --write

test: remove unused helper function
  test/lib/findRules.js
Due: eslint, prettier --write

fix(order): change to use stylelint-config-clean-order based order
  +order.js
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/order.js
  test/+order.test.js
  test/fixture/order.example.css
  test/order.test.js
Due: eslint, prettier --write

test: fix keyframe syntax
  test/fixture/base.valid.css
Due: none

chore(release): publish 1.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: prettier --write

ci(github): fix pnpm/action-setup version to v2.4.0
  .github/workflows/test.yml
Due: none

chore(renovate): migrate to shareable config [shepherd]
  renovate.json
Due: prettier --write

fix(scss): replace deprecated rules and fix fixture for no-unused-private-members rule
  src/scss.js
  test/fixture/_invalid.scss
  test/fixture/_valid.scss
  test/scss.test.js
Due: eslint, prettier --write

test: update test cases for package targets
  test/+order.test.js
  test/index.test.js
Due: eslint, prettier --write

fix: severity tweaks
  src/base.js
  src/performance.js
  test/base.test.js
  test/performance.test.js
Due: eslint, prettier --write

chore: fix typos
  README.md
  package.json
Due: prettier --write

chore(release): publish 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: confgure no-unknown-custom-media rule
  src/base.js
Due: eslint, prettier --write

fix(scss): configure scss/at-mixin-no-risky-nesting-selector rule
  src/scss.js
  test/fixture/_invalid.scss
  test/fixture/_valid.scss
  test/scss.test.js
Due: eslint, prettier --write

chore(renovate): add stylelint-scss package group
  renovate.json
Due: prettier --write

fix(scss): configure scss/declaration-property-value-no-unknown rule
  src/scss.js
Due: eslint, prettier --write

feat(base): update rules
  src/base.js
  test/base.test.js
  test/fixture/base.invalid.css
  test/fixture/base.valid.css
Due: eslint, prettier --write

feat(scss): update rules
  src/scss.js
  test/fixture/_invalid.scss
  test/fixture/_valid.scss
  test/scss.test.js
Due: eslint, prettier --write

chore(deps): add pnpm as devDependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(base): set some rules that removed from stylelint-config-standard
  src/base.js
  test/base.test.js
  test/fixture/base.invalid.css
  test/fixture/base.valid.css
  test/fixture/order.example.css
Due: eslint, prettier --write

chore(eslint): migrate to flat config
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

chore(release): publish 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint: any of: **/*.js
  prettier --write: any of: **/*.{js,json}
